<div class="front-background">
  <div class="front-container">
    <div class="row">
      <div class="col-xs-7" style="overflow: auto">
        <h1>Онлайн ателье рубашек</h1>
        <p>Мы предлагаем на выбор миллионы вариантов классических рубашек. Прямо на нашем сайте
          вы сможете создать рубашку и сразу увидеть как она будет выглядеть в реальности.
          Мы гарантируем качество нашего продукта:
          Вы будете довольны качеством и размерами рубашки или просто вернете ее нам. (<a href="/details" id="details">Подробнее...</a>)
          </p>
        <form action="<%= new_order_path %>">
          <input type="submit" class="btn btn-primary btn-lg" value="Выбрать рубашку" id="order-from-main"/>
        </form>
        <br/>
        <%=link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)%>
        <%=link_to "Sign in with Vkontakte", user_omniauth_authorize_path(:vkontakte)%>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
        <p>Если у Вас есть какие-то вопросы, мы с радостью ответим на них!
          Просто <a href="/about" id="contacts1">напишите</a> или <a href="/about" id="contacts2">позвоните</a> нам</p>
      </div>
      <div class="col-xs-5">
        <%=render partial: "shirts_carousel"%>
      </div>
    </div>
  </div>
</div>

