<div class="item-container <%=name%>">
  <%images.length.times do |i|%>
    <div style="width: <%=width%>px; height: <%=height%>px; background-image: url('/images/<%=images[i]%>')" name = "<%=names[i]%>"></div>
  <%	 end %>
</div>