<%= form_for(@order, html: {role: "form"}) do |f| %>
  <div class="form-group">
    <%= f.label "Имя" %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Телефон или Email" %><br>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :params %>
  </div>
  <div class="actions">
    <%= f.submit "Заказать", class: "btn btn-primary" %>
  </div>
<% end %>
