<h2 style="margin-top: 0px">Войти</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: "form"}) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class: "form-control", style:"max-width:300px; margin-bottom:20px" %></div>

  <div><%= f.label :Пароль %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", style:"max-width:300px; margin-bottom:20px" %></div>

  <div><%= f.submit "Войти", class: "btn btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
