<!DOCTYPE html>
<html>
<head>
  <title>Миллион</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <!--Google Analytics-->
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44422310-3', 'newmill.ru');
      ga('send', 'pageview');

  </script>
</head>
<body>
<div class="header">
  <img src="/images/logo.png" alt="" style="display: inline-block; position: relative; top:-13px; width:50px; height: 50px"/>
  <div style="display: inline-block">
  <h1>Миллион</h1>
      </div>
  <div class="nav-button"><a href="/about" class="<%="active" if @tab == 4%>">Контакты</a></div>
  <div class="nav-button"><a href="<%=new_order_path%>" class="<%="active" if @tab == 3%>">Магазин</a></div>
  <div class="nav-button"><a href="/details" class="<%="active" if @tab == 2%>">Гарантии</a></div>
  <div class="nav-button"><a href="/" class="<%="active" if @tab == 1%>">Главная</a></div>
</div>
<div class="container-fluid body">
  <%= yield %>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter25080758 = new Ya.Metrika({id:25080758,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/25080758" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>

