<!DOCTYPE html>
<html>
<head>
  <title>Миллион</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <img src="/images/logo.png" alt="" style="display: inline-block; position: relative; top:-13px; width:50px; height: 50px"/>
  <div style="display: inline-block">
  <h1>Миллион</h1>
      </div>
  <div class="nav-button"><a href="/about" class="<%="active" if @tab == 4%>">Контакты</a></div>
  <div class="nav-button"><a href="<%=new_order_path%>" class="<%="active" if @tab == 3%>">Магазин</a></div>
  <div class="nav-button"><a href="/details" class="<%="active" if @tab == 2%>">Гарантии</a></div>
  <div class="nav-button"><a href="/" class="<%="active" if @tab == 1%>">Главная</a></div>
</div>
<div class="container-fluid body">
  <%= yield %>
</div>
</body>
</html>

